<link rel="stylesheet" type="text/css" href="/css/admin/adminHome.css">
<div class="centrobody">
    <main> 
        <div class="div" id="div1"><a class="removerUndeline" href="/admin/caixa">
                <div class="div" id="div1">
                    <h1 class="mainDentro preto sombra_preto">Manutenção<br>Caixa</h1>
                </div>
            </a></div>
        <div class="div" id="div2"><a class="removerUndeline" href="/admin/noticias">
                <div class="div" id="div2">
                    <h1 class="mainDentro preto sombra_preto ">Manutenção<br>Noticia</h1>
                </div>
            </a></div>
        <div class="div" id="div3"><a class="removerUndeline" href="/admin/voluntario">
                <div class="div" id="div3">
                    <h1 class="mainDentro preto sombra_preto">Manutenção<br>Voluntário</h1>
                </div>
            </a></div>
        <div class="div" id="div4"><a class="removerUndeline" href="/admin/projeto">
                <div class="div" id="div4">
                    <h1 class="mainDentro preto sombra_preto">Manutenção<br>Projeto</h1>
                </div>
            </a></div>
        <div class="div" id="div5"><a class="removerUndeline" href="/admin/adocao">
                <div class="div" id="div5">
                    <h1 class="mainDentro preto sombra_preto">Manutenção<br>Adoção</h1>
                </div>
            </a></div>
        <div class="div" id="div6"><a class="removerUndeline" href="/admin/produto">
                <div class="div" id="div6">
                    <h1 class="mainDentro preto sombra_preto">Manutenção<br>Produto</h1>
                </div>
            </a></div>
        <div class="div" id="div7"><a class="removerUndeline" href="/admin/eventos">
                <div class="div" id="div7">
                    <h1 class="mainDentro preto sombra_preto">Manutenção<br>Evento</h1>
                </div>
            </a></div>
        <div class="div" id="div8"><a class="removerUndeline" href="/admin/patrimonio">
                <div class="div" id="div8">
                    <h1 class="mainDentro preto sombra_preto">Manutenção<br>Patrimônio</h1>
                </div>
            </a></div>
        <div class="div" id="div9"><a class="removerUndeline" href="/admin/parceiro">
                <div class="div" id="div9">
                    <h1 class="mainDentro preto sombra_preto">Manutenção<br>Parceiro</h1>
                </div>
            </a></div>
    </main>
</div>