<link rel="stylesheet" type="text/css" href="/css/admin/adminHome.css">
<div class="centrobody">
    <main>
        <div class="div" id="div1"><a class="removerUndeline" href="/">
                <div class="div" id="div1">
                    <h1 class="mainDentro preto sombra_preto">Caixa</h1>
                </div>
            </a></div>
        <div class="div" id="div2"><a class="removerUndeline" href="/admin/noticia">
                <div class="div" id="div2">
                    <h1 class="mainDentro preto sombra_preto">Noticia</h1>
                </div>
            </a></div>
        <div class="div" id="div3"><a class="removerUndeline branco sombra_preto" href="/admin/voluntario">
                <div class="div" id="div3">
                    <h1 class="mainDentro">Voluntario</h1>
                </div>
            </a></div>
        <div class="div" id="div4"><a class="removerUndeline" href="/admin/projeto">
                <div class="div" id="div4">
                    <h1 class="mainDentro amarelo sombra_preto">Projeto</h1>
                </div>
            </a></div>
        <div class="div" id="div5"><a class="removerUndeline verde sombra_preto" href="/">
                <div class="div" id="div5">
                    <h1 class="mainDentro">Adoção</h1>
                </div>
            </a></div>
        <div class="div" id="div6"><a class="removerUndeline preto sombra_preto" href="/admin/produto">
                <div class="div" id="div6">
                    <h1 class="mainDentro">Produto</h1>
                </div>
            </a></div>
        <div class="div" id="div7"><a class="removerUndeline  branco sombra_preto" href="/admin/eventos">
                <div class="div" id="div7">
                    <h1 class="mainDentro">Evento</h1>
                </div>
            </a></div>
        <div class="div" id="div8"><a class="removerUndeline laranja_vermelho sombra_preto" href="/admin/patrimonio">
                <div class="div" id="div8">
                    <h1 class="mainDentro">Patrimonio</h1>
                </div>
            </a></div>
        <div class="div" id="div9"><a class="removerUndeline  amarelo sombra_preto" href="/admin/parceiro">
                <div class="div" id="div9">
                    <h1 class="mainDentro">Parceiro</h1>
                </div>
            </a></div>
    </main>
</div>