<div class="container mt-5" style="padding: 4%;">
    <div class="row">
        <div class="col-md-4 mb-4">
            <h1 class="mb-4">Doações</h1>
            <a class="btn btn-primary" id="btnDoar" href="/admin/doacao">Doação</a>
            <button class="btn btn-primary" id="btnMetodopagamento">Método de Pagamento</button>
        </div>
        
        <div class="col-md-8">
            <h1>Fechamento de Caixa</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Data e Hora</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Forma de Pag.</th>
                            <th>Comprovante</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/01/2024 12:00</td>
                            <td>Doação Exemplo</td>
                            <td>R$ 100,00</td>
                            <td>Cartão</td>
                            <td><a href="#">Comprovante</a></td>
                            <td><span class="badge bg-success">Aprovado</span></td>
                        </tr>
                        <tr>
                            <td>02/01/2024 12:00</td>
                            <td>Doação Exemplo</td>
                            <td>R$ 100,00</td>
                            <td>Cartão</td>
                            <td><a href="#">Comprovante</a></td>
                            <td><span class="badge bg-danger">Reprovado</span></td>
                        </tr>
                        <tr>
                            <td>02/01/2024 12:00</td>
                            <td>Doação Exemplo</td>
                            <td>R$ 100,00</td>
                            <td>Boleto</td>
                            <td><a href="#">Comprovante</a></td>
                            <td><span class="badge bg-secondary">Pendente</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
