<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/adminHome.css">
    <link rel="stylesheet" type="text/css" href="/css/estiloUniversal.css">
    <script src="/js/admin/adminHome.js"></script>
</head>

<body>
    <header>
        <h1>Admin</h1>
    </header>
    <div class="centrobody">
        <main>
            <div id="div1"><a class="removerUndeline" href="/">
                    <div id="div1">
                        <h1 class="mainDentro preto">Caixa</h1>
                    </div>
                </a></div>
            <div id="div2"><a class="removerUndeline" href="/">
                    <div id="div2">
                        <h1 class="mainDentro branco sombra_preto">Evento</h1>
                    </div>
                </a></div>
            <div id="div3"><a class="removerUndeline preto" href="/">
                    <div id="div3">
                        <h1 class="mainDentro">Noticia</h1>
                    </div>
                </a></div>
            <div id="div4"><a class="removerUndeline" href="/">
                    <div id="div4">
                        <h1 class="mainDentro amarelo sombra_preto">Projeto</h1>
                    </div>
                </a></div>
            <div id="div5"><a class="removerUndeline" href="/">
                    <div id="div5">
                        <h1 class="mainDentro">Caixa</h1>
                    </div>
                </a></div>
            <div id="div6"><a class="removerUndeline" href="/">
                    <div id="div6">
                        <h1 class="mainDentro">Caixa</h1>
                    </div>
                </a></div>
            <div id="div7"><a class="removerUndeline" href="/">
                    <div id="div7">
                        <h1 class="mainDentro">Caixa</h1>
                    </div>
                </a></div>
            <div id="div8"><a class="removerUndeline" href="/">
                    <div id="div8">
                        <h1 class="mainDentro">Caixa</h1>
                    </div>
                </a></div>
            <div id="div9"><a class="removerUndeline" href="/">
                    <div id="div9">
                        <h1 class="mainDentro">Caixa</h1>
                    </div>
                </a></div>
        </main>
    </div>
</body>

</html>