<script src="/js/doacao/cadastrar.js"></script>
<link rel="stylesheet" href="css/doacao/DOACAO_MAIN.css">
<section id="hero" class="hero">
  <div style="background-image: url('img/doacao/orsrc16192.jpg');">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Bem Vindo a <span>Doações</span></h2>
          <p>Ao fazer uma doação para a ONG Save Pets, você estará contribuindo para abrigar animais de rua,
            fornecer
            vacinas,
            cuidados médicos e muito mais. Sua generosidade faz a diferença na vida desses animais.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="/img/doacao/Dinheiro.png" class="img-fluid mt-5" alt="" data-aos="zoom-out" data-aos-delay="100"
            width="75%">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
          <h2 class="title">Meios de Doação:</h2>


          <div class="col-xl-3 col-md-6 div_center" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <a href="doacao/pix" class="stretched-link"></a><!--Link Pix-->
              <img src="/img/doacao/pix232.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="120"
                style="margin-top: 20px;">
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6 div_center" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box1">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <a href="/doacao/boleto" class="stretched-link"></a><!--Link Boleto-->
              <img src="/img/doacao/Boleto.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="120"
                style="margin-top: 20px;">
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6 div_center" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <a href="/doacao/cartao" class="stretched-link"></a><!--Link Cartão-->
              <img src="/img/doacao/cartaoacess.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="120"
                style="margin-top: 20px;">
            </div>
          </div><!--End Icon Box -->
        </div>
      </div>
    </div>
  </div>
  <hr>
</section>
