<head>
    <style>
        .card-img-top {
            width: 100%;
            height: 200px; /* Altura fixa para as imagens */
            object-fit: cover; /* Para ajustar a imagem ao contêiner */
        }
    </style>
</head>
<div class="container mt-5" style="padding: 8%;">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Próximos Eventos</h1>
            <p class="lead">Confira nossos próximos eventos e participe!</p>
        </div>
    </div>
    <div class="row mt-4">
        <!-- Event 1 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="img/evento/vacina.jpeg" class="card-img-top" alt="Evento 1">
                <div class="card-body">
                    <h5 class="card-title">Evento 1</h5>
                    <p class="card-text">Campanha de vacinação em nosso pets no parque do povo!</p>
                    <p class="card-text"><small class="text-muted">Data: 12 de Junho de 2024</small></p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <!-- Event 2 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="img/evento/confra.jpg" class="card-img-top" alt="Evento 2">
                <div class="card-body">
                    <h5 class="card-title">Evento 2</h5>
                    <p class="card-text">Confraternização do nosso primeiro ano da nossa ONG!</p>
                    <p class="card-text"><small class="text-muted">Data: 25 de Junho de 2024</small></p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <!-- Event 3 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="img/evento/adocao.jpg" class="card-img-top" alt="Evento 3">
                <div class="card-body">
                    <h5 class="card-title">Evento 3</h5>
                    <p class="card-text">Campanha de adoção na praça do Centenário!</p>
                    <p class="card-text"><small class="text-muted">Data: 10 de Julho de 2024</small></p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

