<head>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<div class="bg-black bg-opacity-75 p-5 my-5">
    <div class="container px-4 text-center">
      <div class="row gx-5">
        <div class="col">
         <div class="p-3"><img src="./img/cachorro-emocionado.jpg"  class="rounded-circle" width="300px" height="300px"></div>
        </div>
        <div class="col">
          <div class="p-5 text-white" ><h2 id="ultimas">ULTIMAS NOTICIAS</h2><br>
            <p>A ONG Save Pets personifica o amor pelos animais, resgatando, cuidando e encontrando lares para eles. <br>
              <br> Sua dedicação demonstra compaixão genuína e promove a conscientização sobre adoção responsável e direitos dos animais, transformando vidas peludas com esperança e cuidado.
            </p><a href="QuemSomos" class="link-light">Descubra mais sobre Nos:</a></div>
        </div>
      </div>
    </div>
  </div>
 <!--CONTEUDO DAS N OTICIAS-->
 <div class="container" id="coll">
    <div>
      <div class=" d-inline-block" style="margin-top: 2%; margin-right: 11px;">
        <div class="card bg-dark" id="iso" style="color: white;">
            <img class="card-img-top" src="./img/cao6.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Cachorros Resgatados</h5>
                <p class="card-text">SP: prefeitura resgata 51 cães entre animais mortos em canil ilegal... </p>
                <a href="https://noticias.uol.com.br/cotidiano/ultimas-noticias/2023/03/29/resgate-cachorros-ribeirao-pires.htm" target="_blank" class="btn btn-success">Ler mais</a>
            </div>
        </div>
    </div>
        <div class=" d-inline-block">
            <div class="card bg-dark" id="iso" style=" color: white;">
                <img class="card-img-top" src="./img/cao5.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Vacinação</h5>
                    <p class="card-text">A ong SavePets promove uma campanha de vacinação...</p>
                    <a href="https://g1.globo.com/rj/rio-de-janeiro/noticia/2023/08/18/campanha-de-vacinacao-antirrabica-no-rio-comeca-no-proximo-sabado.ghtml" target="_blank" class="btn btn-success">Ler mais</a>
                </div>
            </div>
        </div>
        <div class=" d-inline-block">
            <div class="card bg-dark" id="iso" style=" color: white; margin-right: 11px;">
                <img class="card-img-top" src="./img/cao4.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Maltratos </h5>
                    <p class="card-text">A ong SavePets acionou as autoridades apos identificar...</p>
                    <a href="https://g1.globo.com/fantastico/noticia/2021/02/14/veja-como-denunciar-maus-tratos-ou-crueldade-contra-animais.ghtml" target="_blank" class="btn btn-success">Ler mais</a>
                </div>
            </div>
        </div>
        <div class=" d-inline-block" style="margin-top: 9%;">
            <div class="card bg-dark" id="iso" style=" color: white;">
                <img class="card-img-top" src="./img/cao3.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Doaçoes</h5>
                    <p class="card-text">A ong SavePets realizou algumas doaçoes para a ONG petlove</p>
                    <a href="https://www.petlove.com.br/doacoes" target="_blank" class="btn btn-success">Ler mais</a>
                </div>
            </div>
        </div>
        <div class=" d-inline-block" style="margin-top: 9%;">
            <div class="card bg-dark" id="iso" style=" color: white; margin-right: 11px;">
                <img class="card-img-top" src="./img/cao5.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Adoção</h5>
                    <p class="card-text">A ong SavePets realizou uma campanha de adoção de....</p>
                    <a href="https://www.osindefesos.com.br/adote" target="_blank" class="btn btn-success">Ler mais</a>
                </div>
            </div>
        </div>
        <div class=" d-inline-block" style="margin-top: 9%;">
            <div class="card bg-dark" id="iso" style="color: white;">
                <img class="card-img-top" src="./img/cao6.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Cuide do seu cão</h5>
                    <p class="card-text">Nós promovemos uma palestra dando dicas de como cuidar do....</p>
                    <a href="https://www.ecycle.com.br/como-cuidar-de-um-cachorro/" target="_blank" class="btn btn-success">Ler mais</a>
                </div>
            </div>
        </div>

    </div>
</div>

