<div class="bg-black bg-opacity-75 p-5 mt-5">
    <div class="container px-4 text-center">
      <div class="row gx-5">
        <div class="col">
         <div class="p-3"><img src="./img/cachorro-emocionado.jpg"  class="rounded-circle" width="300px" height="300px"></div>
        </div>
        <div class="col">
          <div class="p-3 text-white"><h2>Quem Somos?</h2><br>
            <p>Desde 2018, a ONG Save Pets dedica-se ao resgate de animais na localidade de Presidente Prudente e região.</p>
            <p>Com uma equipe de trabalho voluntário dedicada, nossa missão é proporcionar amor, cuidado e novos lares para os animais em necessidade.</p>
            <a href="/seja_um_voluntario" class="link-light">Voluntarie-se:</a></div>
        </div>
      </div>
    </div>
  </div>

<div class="bg-body-secondary">
<div class="p-3 pb-md-4 mx-auto text-center mb-0">
  <h1 style="text-shadow: 3px 2px 2px rgb(184, 184, 184); padding-top: 50px;" class="display-4 fw-normal text-body-emphasis text-black">Sobre nós</h1>
  <p style="font-weight: bolder; text-shadow: 1px 1px 2px rgb(184, 184, 184);" class="fs-5 text-black">
    Aqui apresentamos nossa Visão, Missão e Valores: A essência que nos guia.</p>
</div>

<div class="container mx-auto text-center text-black">
  <div class="row">
      <div class="col-lg-4">
          <img src="./img/mission.png" class="rounded-circle" width="140px" height="140px" alt="">
          <h2 style="font-weight: 700; text-shadow: 1px 1px 2px rgb(184, 184, 184);" class="fw-normal">Missão</h2>
          <p style="font-weight: bolder;">A SavePet's busca proteger e cuidar dos animais domésticos, oferecendo
              abrigo, tratamento médico e combate ao abuso e negligência desses animais.
          </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="./img/eye.gif" class="rounded-circle" width="140px" height="100px" alt="">
          <h2 style="font-weight: 700; text-shadow: 1px 1px 2px rgb(184, 184, 184);" class="fw-normal">Visão</h2>
          <p style="font-weight: bolder;">A ONG visa um mundo onde todos os animais são tratados com respeito,
              compaixão e cuidado independentemente de sua espécie, raça, idade ou condição. Tendo em vista, proteger seus habitats naturais e oferecer lares.
          </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="./img/valores.png" class="rounded-circle" width="140px" height="140px" alt="">
          <h2 style="font-weight: 700; text-shadow: 1px 1px 2px rgb(184, 184, 184);" class="fw-normal">Valores</h2>
          <p style="font-weight: bolder;">Responsabilidade, Transparência, Natureza, Vida, Comprometimento, Solidariedade,
              Empatia, Sustentabilidade, Inclusão e Educação.
          </p>
          <br><br><br><br>  
      </div><!-- /.col-lg-4 -->
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
