<div class="bg-dark text-light p-5 mt-5 shadow">
  <div class="container text-center">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-3">
          <img src="./img/cachorro-emocionado.jpg" class="rounded-circle img-fluid shadow" alt="Cachorro emocionado">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-3">
          <h2>Quem Somos?</h2>
          <p>Desde 2018, a ONG Save Pets dedica-se ao resgate de animais na localidade de Presidente Prudente e região.</p>
          <p>Com uma equipe de trabalho voluntário dedicada, nossa missão é proporcionar amor, cuidado e novos lares para os animais em necessidade.</p>
          <a href="/seja_um_voluntario" class="btn btn-outline-light mt-3">Voluntarie-se</a>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="bg-light py-5">
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold text-dark mb-3">Sobre nós</h1>
    <p class="fs-5 text-muted">
      Aqui apresentamos nossa Visão, Missão e Valores: A essência que nos guia.
    </p>
  </div>

  <div class="container mx-auto text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 border-0 shadow-sm">
          <!-- Ajuste no tamanho da imagem -->
          <img src="./img/mission.png" class="card-img-top rounded-circle p-4" alt="Missão" style="width: 200px; height: 200px; object-fit: cover; margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">Missão</h5>
            <p class="card-text">A SavePet's busca proteger e cuidar dos animais domésticos, oferecendo abrigo, tratamento médico e combate ao abuso e negligência desses animais.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0 shadow-sm">
          <!-- Ajuste no tamanho da imagem -->
          <img src="./img/eye.gif" class="card-img-top rounded-circle p-4" alt="Visão" style="width: 200px; height: 200px; object-fit: cover; margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">Visão</h5>
            <p class="card-text">A ONG visa um mundo onde todos os animais são tratados com respeito, compaixão e cuidado independentemente de sua espécie, raça, idade ou condição.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0 shadow-sm">
          <!-- Ajuste no tamanho da imagem -->
          <img src="./img/valores.png" class="card-img-top rounded-circle p-4" alt="Valores" style="width: 200px; height: 200px; object-fit: cover; margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">Valores</h5>
            <p class="card-text">Responsabilidade, Transparência, Natureza, Vida, Comprometimento, Solidariedade, Empatia, Sustentabilidade, Inclusão e Educação.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>