<head>
<link rel="stylesheet" href="css/sobrenos.css">
</head>
<section class="custom-container">
  <img src="img/quemsomos/golden3.png" alt="Cachorro" class="img-fluid imginicial">
  <h1>Desde 2018 a save pet's</h1>
  <a href="/seja_um_voluntario" class="botao">Voluntarie-se</a>
</section>


<div class="bg-light py-5">
  <section class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="h1sobrenos">Sobre nós</h1> 
    <p class="sobrenos">
      Fundada em 2018, a Save Pets nasceu de um pequeno grupo de voluntários apaixonados por cães e dispostos a fazer a diferença.<br>
      Desde o início, nosso objetivo é claro: salvar vidas, uma patinha de cada vez. O que começou como um esforço modesto rapidamente<br>
      se transformou em uma ampla rede de apoio, unindo pessoas comprometidas em oferecer um futuro melhor para animais em situação de risco.
      <br><br>
      Com muita determinação, compaixão e trabalho árduo, a Save Pets se consolidou como uma força vital na comunidade.<br>
      Nosso trabalho vai além do resgate de animais abandonados ou maltratados, estamos comprometidos com a reabilitação e a adoção responsável,
      garantindo que cada animal resgatado receba não apenas os cuidados necessários, mas também amor e um lar seguro.
      <br><br>
      A Save Pets atua em várias frentes para promover o bem-estar animal. Realizamos campanhas de conscientização sobre<br>
      a importância da posse responsável, organizamos eventos de adoção, e fornecemos tratamentos médicos.
      Cada ação é movida pelo nosso compromisso em transformar a vida de cada cão que encontramos,
      oferecendo a eles uma segunda chance de viver com dignidade e felicidade.
    </p>
  </section>

  <section class="container mx-auto text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 border-0 shadow-sm mission-card">
          <img src="img/quemsomos/missaoo.png" class="card-img-top rounded-circle p-4" alt="Missão">
          <div class="card-body text-center">
            <h5 class="card-title">Missão</h5>
            <p class="card-text">A SavePet's busca proteger e cuidar dos animais domésticos, oferecendo abrigo, tratamento médico e combate ao abuso e negligência desses animais.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0 shadow-sm vision-card">
          <img src="img/quemsomos/visao.png" class="card-img-top rounded-circle p-4" alt="Visão">
          <div class="card-body text-center">
            <h5 class="card-title">Visão</h5>
            <p class="card-text">A ONG visa um mundo onde todos os animais são tratados com respeito, compaixão e cuidado independentemente de sua espécie, raça, idade ou condição.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0 shadow-sm values-card">
          <img src="img/quemsomos/valores.png" class="card-img-top rounded-circle p-4" alt="Valores">
          <div class="card-body text-center">
            <h5 class="card-title">Valores</h5>
            <p class="card-text">Responsabilidade, Transparência, Natureza, Vida, Comprometimento, Solidariedade, Empatia, Sustentabilidade, Inclusão e Educação.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
