/*Cores dos textos*/


.branco{
    color:white
}

.azul{
    color:rgb(255, 255, 255);
}

.azulclaro{
    color:rgb(255, 255, 255);
}

.preto{
    color:rgb(255, 255, 255);
}

.amarelo{
    color:rgb(255, 255, 255);
}

.laranja{
    color:rgb(255, 255, 255);
}

.laranja_vermelho{
    color:rgb(255, 255, 255);
}

.roxo{
    color:rgb(255, 255, 255);
}

.verde{
    color: rgb(255, 255, 255);
}

/*Sombra*/

.sombra_preto{
    text-shadow: 1px 1px 1px black;
}
