
      <div class="container mt-5 p-5">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="noticia">
              <h2><b><%= not.ONG_NOTICIA_TITULO %></b></h2>
              <p class="desc mt-3"><%= not.ONG_NOTICIA_DESCRICAO %></p>
              <p class="conteudo mt-5">
                <%= not.ONG_NOTICIA_CONTEUDO %>
              </p>
            </div>
          </div>
        </div>
      </div> 
