<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Gerador de Boletos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="css/doacao/DOACAO_BOLETO.css">
    <link href="/img/doacao/Boleto.png" rel="icon">
</head>

<body>
    <img src="/img/doacao/Boleto.png" alt="Logo Boleto" style="position: absolute; top: 0; left: 0; max-width: 150px;">
    <div class="container">
        <h1 class="mt-5">Pagamento Boleto</h1>
        <p>Gerador de boletos:</p>
        <img src="/img/doacao/Qrlogo.png" alt="QR Code Pix" style="max-width: 200px;" class="img-fluid">
        <p>ou</p>
        <form class="mt-4">
            <div class="mb-3">
                <p>Clique aqui para gerar seu Boleto:</p>
                <button type="button" class="btn btn-primary" id="enviar" onclick="redirecionarParaOutraPagina()">Gerar
                    Boleto</button>
                <script>
                    // Função JavaScript para redirecionar para outra página
                    function redirecionarParaOutraPagina() {
                        window.open("https://www.guiamuriae.com.br/wp-content/uploads/2017/01/Boleto-bancario-Foto-WC.jpg", "_blank");
                        window.location.href = '/doacao'
                    }
                </script>
            </div>
        </form><br><br>
        <a href="/doacao" class="text-black" style="font-size: 30px;">Voltar</a>
    </div>
</body>
<script src="/js/doacao/cadastrarboleto.js"></script>

</html>