<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Pagamento Pix</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/doacao/DOACAO_PIX.css">
    <link href="/img/doacao/pix2.png" rel="icon">

</head>

<body class="bg-secondary text-white">

    <img src="/img/doacao/pix2.png" alt="Logo Pix" style="position: absolute; top: 0; left: 0; max-height: 100px;">
    <div class="container">
        <h1 class="mt-5">Pagamento Pix</h1>
        <p>Escaneie o QR code abaixo com o seu aplicativo Pix para fazer o pagamento:</p>
        <img src="/img/doacao/pixdiff.png" alt="QR Code Pix" style="max-width: 180px;" class="img-fluid">
        <p>ou</p>
        <h5>Email: SavePets@org.br</h5>
        <h5>Numero de Telefone: (18) 99887-7665</h5>
        <br><br><br><br>
        <a href="/doacao" class="text-black" style="font-size: 30px;">Voltar</a>
    </div>
</body>
<script src="/js/doacao/cadastrarpix.js"></script>

</html>