<script src="/js/admin/noticias/cadastrar.js"></script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-0">Criar Notícia</h1>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="titulo">Título:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required>
                        </div>
                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <textarea class="form-control" id="descricao" name="descricao" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="conteudo">Conteúdo:</label>
                            <textarea class="form-control" id="conteudo" name="conteudo" required></textarea>
                        </div>
                        <div class="form-group mt-4">
                            <button class="btn btn-success" type="button" id="btnGravar">Criar Notícia</button>
                            <a href="/admin/noticias" class="btn btn-secondary">Voltar</a>
                        </div>
                        <div class="form-group mt-1">
                            <label for="inputImagem">Imagem da Noticia</label>
                            <input type="file" class="form-control" id="inputImagem" />
                          </div>
                          <div class="form-group mt-1">
                            <img id="previaImagem" width="200" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
